.education {
  .unis {
    margin-bottom: 100px;
  }
  .uni {
    margin-bottom: 25px;
    .time-place {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include phablet {
        display: block;
      }
    }
    .university_logo {
      max-width: 4rem;
      max-height: 4rem;
      margin-right: 0.5rem;
      @include phablet {
        margin-right: 0;
        margin-bottom: 0.5rem;
      }
    }
    &__university {
      display: flex;
      flex-direction: row;
      align-items: center;
      @include phablet {
        flex-direction: column;
      }
    }
    &__name_pos_container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include phablet {
        flex-direction: column;
        align-items: center;
      }
    }
    &__university__name {
      font-weight: 700;
    }
    &__time_location_container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @include phablet {
        flex-direction: column;
        align-items: center;
      }
    }
    &__time {
      font-size: 0.9rem;
      font-family: 'Inconsolata', monospace;
      @include phablet {
        font-size: 0.8rem;
      }
    }
  }
  .arrow-link {
    font-size: 1.25rem;
    &:after {
      width: 20px;
      height: 20px;
    }
  }
}
