<section class="section other-projects">
  <div class="section__title">AI related Projects</div>
  <div class="section__content">
    {% for project in site.data.ai-projects %}
    <div class="project">
      <div class="project__name">
        {% if project.url %}
          <a href="{{project.url}}" target="_blank" class="arrow-link" style="white-space: initial; text-align: justify;">{{project.name}}</a>
        {% else %}
          <a class="arrow-link-disabled" target="_self">{{project.name}}</a>
        {% endif %}
      </div>
      <p style="text-align: justify;">{{project.description}}</p>
      <div class="project__used">
        {% for item in project.used %}
        <span class="project__used__item">{{item.thing}}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
