<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p style="text-align: justify;">
      As a fervent Machine Learning enthusiast, I am currently immersing myself in the complex world of Artificial Intelligence and
      Machine Learning while completing my Master's degree in Computer Engineering at
      <a class="underline-link" href="https://www.tau.edu.tr" target="_blank">Turkish-German University</a>. My passion for this field
      has been nourished by my solid educational background, having previously obtained a Bachelor's degree in Computer Engineering.
      Through my involvement in various Software and AI projects, I am constantly honing my skills and gaining practical expertise in
      the ever-evolving world of technology.
    </p>

    <p style="text-align: justify;">
      My mission is to unravel insights from complex datasets, weaving the fabric of knowledge to equip individuals
      with the information needed to make well-informed choices and ultimately create a meaningful impact on our society.
    </p>

    <p style="text-align: justify;">
      <strong>When I'm not in front of an IDE screen</strong>, I'm probably playing video games, achieving MVP in the match,
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
